body {
  background-color: #000;
}

.zoom-button {
  -webkit-box-shadow:0 0 8px 2px #FFF2EB;
  -moz-box-shadow: 0 0 8px 2px #FFF2EB;
  box-shadow: 0 0 8px 2px #FFF2EB;
  animation: animate 3s linear infinite;
  background: linear-gradient(
      120deg,
      #422418 30%,
      #F1C55B 38%,
      #F1C55B 40%,
      #422418 48%
  ) 100% 100%;
  background-size: 200% 100%;

  @keyframes animate {
    100% {
      background-position: -100% 0;
    }
  }
}
