h1 {
  font-size: 2.5rem;
  font-weight: 700;
  background-color: #fff5;
  border-radius: 1rem;
  padding: 0 24px;
  text-shadow: -0.01875em 0em 0em rgba(0, 255, 255, 1.000000), 0.01875em 0em 0em rgba(255, 0, 255, 1.000000);
  text-transform: uppercase;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
